@charset "UTF-8";



html,body{
	margin:0;
	width:100%;
	height:100%;
	font-family: 'Noto Sans KR', sans-serif;
}

/* inquiryList.jsp */
.inquiryInfo{
	width:60%;
	margin-top:70px;
	margin-bottom:220px;
	border-top: 3px solid #623f30;
	border-collapse: collapse;
}

.inquiryInfo tr{
	border-bottom:2px solid #e6e6e6;
	padding:10px;
}

.inquiryInfo tr td{
	border-bottom:2px solid #e6e6e6;
	padding:10px;
	height:35px;

}

#list > td{
	height:40px;
	color:#967e5d;
    font-weight:900;
    background-color:#e6dfc6;
}

.inquiryInfo a:link {					/* a 태그 클릭 안한 상태 */
	text-align:center; 
	color: black;
	text-decoration : none;	/*밑줄 제거*/
}

.inquiryInfo a:visited { 				/* a 태그 1회 이상 클릭 했을 때 상태 */
 	color:rgb(128, 128, 128); 
 	text-decoration: none;
}

.inquiryInfo a:hover { 					/* a 태그에 마우스 올렸을 때 상태 */
 	color: rgb(255, 0, 128); 
 	text-decoration: none;	
}

#listcomment{
	width:50%;
	height:100px;
	text-align:center;
	margin: 10px auto;
	font-size:x-large;
}

/*inquiryDetail.jsp*/


#detailcomment{
	width:50%;
	height:100px;
	text-align:center;
	margin:40px auto;
	font-size: large;
}

.inquiryDetail{
	width:40%;
	margin-top:30px;
	margin : auto;
	margin-bottom:80px;
	border-top: 3px solid #623f30;
	border-collapse: collapse;
}

.inquiryDetail tr{
	border-bottom:2px solid #e6e6e6;
	padding:10px;
}

.inquiryDetail tr td{
	border-bottom:2px solid #e6e6e6;
	padding:10px;
	height:30px;
}

#detail{
	text-align:center;
	width:130px;
	height:40px;
	color:#323232;
    font-weight:900;
    background-color: #50B4F5;
}

#detailcontent{
	text-align:center;
	width:130px;
	height:300px;
	color:#323232;
    font-weight:900;
    background-color: #50B4F5	;
}

#detailtextarea{
	width:100%;
	height:300px;
	font-size:18px;
	border:none;
}

#detailtextarea:focus{
	outline:none;
}

#comment{
	padding-left: 150px;
}

#commentWrite{
	width:300px;
	height:120px;
	padding-left: 20px;
}

 #commentBtn{
	width:70px;
	height:25px;
	border: none;
	background-color: #876f55;
	color:#f1ebd5;
}

#commentWriteBtn{
	position:absolute;
	width:120px; 
	height:50px; 
	background-color: #876f55; 
	color:#f1ebd5;
	border: none;
	margin-top:20px;
	margin-left:25px;
}
/*  inquiryWrite.jsp    */

#writeTitle{
	width:  100%;
	height:   35px;
	font-size:  20px;
	border:  none;
	
}

#writeTitle:focus{
	outline:none;
}

#writeContent{
	width: 100%;
	height:300px;
	font-size:20px;
	border:none;
}

#writeContent:focus{
	outline:none;
}
.fontBox font{
	border-left: solid 6px #1abc9c;
	padding-left: 15px;
}
.fontBox{
	width: 80%;
	padding-left: 200px;
	margin: 80px 0px 10px 0px;
}

.imgBox{
	width: 650px;
	height: 340px;
	margin: auto;
	background-color: black;
}


/* 관리자 고객의소리 css  */
#reserveTitle{
	height:7%;
	margin:3% auto;
	text-align:center;
}

.reserveInfo{
	width:70%;
	margin-top:60px;
	margin-bottom:80px;
	border-top: 3px solid #623f30;
	border-collapse: collapse;
}

.reserveInfo tr{
	border-bottom:2px solid #e6e6e6;
	padding:10px;
}

.reserveInfo tr td{
	border-bottom:2px solid #e6e6e6;
	padding:10px;
	height:45px;
}

#list > td{
	color:#967e5d;
    font-weight:900;
    background-color:#e6dfc6;
    height:50px;
}

/*InquiryList.jsp*/
.reserveInfo a:link {					/* a 태그 클릭 안한 상태 */
	text-align:center; 
	color: blue;
	text-decoration : none;	/*밑줄 제거*/
}

.reserveInfo a:visited { 				/* a 태그 1회 이상 클릭 했을 때 상태 */
 	color: rgb(128, 128, 64); 
 	text-decoration: none;
}

.reserveInfo a:hover { 					/* a 태그에 마우스 올렸을 때 상태 */
 	color: rgb(255, 128, 0); 
 	text-decoration: none;	
}

.tableBox{
	width: 90%;
	margin: auto;
}
.tableBox .reserveInfo{
	margin: auto;	
}

