@charset "UTF-8";

html{
	width: 100%;
}
body{
	width: 100%;
}
#container{
	width: 100%;
	margin: auto auto;
}
body .headerText{
	margin: 0px 0px 70px 30px;
	text-align: center;
	color:rgb(128, 128, 128);
	height:10%;
	font-size:xx-large;
	border-bottom: 4px solid #1abc9c;
	font-weight:bolder;
	padding-bottom: 10px;
	font-size: 4;
}

.Wrap_location{
	text-align:center;
	width: 90%;
	padding: 2% 5.5% 5% 5.5%;
	display: inline-block;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 30px;  
}

#map{
width:40%;	height:450px; 	z-index: 0;
box-shadow: 2px 2px 5px 3px silver;
border-radius: 30px;
margin-top: 20px;
}
#side_text hr{
	border-top: 3px dashed #bbb;
	margin: 5px;
	}
#side_text{
	width: 45%; height:500px;
	display: inline-block;
	background-color: rgba(0, 0, 12, 0.7);
	z-index:1;
	text-align: center;
	box-sizing:border-box;
	padding: 10px;
	position: relative;
	font-size: 1.0em;
	font-style: normal;
	border-radius: 25px;
	overflow: scroll;
}
#side_text li{
	list-style: circle;
	color: #bbb;
}
#side_text h3{
	color: rgb(255, 128, 128);
}

#side_text .article{
	text-align:center;
	height:400px;
	position: absolute;
	width: 80%;
	line-height: 50px;
	margin-left: 25px;
}



